.border__list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  li {
    min-height: 8rem;
    padding: 2rem;
    border: 1px solid var(--primary);
    border-radius: 1.6rem;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 0.2em;
    flex-wrap: wrap;

    p + * {
      margin-left: 0.5em;
    }
    strong {
      color: var(--primary);
      margin-right: 1em;
    }
  }
}
