@import '@/styles/var.scss';
.nav {
  border-bottom: 1px solid var(--grayLv2);
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 100;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 1.3rem;
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 2.4rem;
        padding: 0 1rem;
        color: var(--grayLv3);
        &.active {
          font-weight: 600;
          color: var(--surface);
        }
        &[target='_blank'] {
          font-weight: 600;
          color: var(--primary);
        }
      }
    }
  }
}
