@import '@/styles/var.scss';

.teacher-info {
  display: flex;
  gap: 1.2rem;
  align-items: center;

  margin: 3.2rem 0;
  img {
    width: 4.6rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--grayLv2);
  }

  p {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    strong {
      @extend .fs16;
      font-weight: 600;
    }
    span {
      @extend .fs14;
      color: var(--grayLv4);
    }
  }
}
