@import '@/styles/var.scss';

.toggleList {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & > li {
    min-height: 8rem;
    border: 1px solid var(--grayLv2);
    border-radius: 1.6rem;
    padding: 2.4rem;
    position: relative;
    transform: all 0.3s;
    box-sizing: border-box;

    &.active .list__content {
      display: block;
    }

    ol {
      padding-left: 1em;
      li {
        list-style-type: decimal;
      }
    }
  }

  .list__title {
    display: flex;
    align-items: center;
    height: 3.2rem;
    gap: 1.2rem;

    .q,
    .day {
      color: var(--primary);
      font-weight: 600;
      @extend .fs24;
      &.q {
        width: 2em;
      }
      &.day {
        width: 2.5em;
      }
    }
    .tech {
      @extend .fs14;
      font-weight: 600;
      background-color: var(--activation);
      color: var(--primary);
      border-radius: 0.8rem;
      padding: 0.6em 1em;
    }
  }

  .list__content {
    line-height: 1.6;
    padding-top: 3rem;
    box-sizing: border-box;
    color: var(--grayLv4);
    display: none;
  }

  .btnToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;

    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid var(--grayLv2);

    svg {
      transition: all 0.3s;
    }
    &.active {
      svg {
        rotate: -180deg;
      }
    }
  }
}
