@import '@/styles/var.scss';

.toggleList {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & > li {
    min-height: 8rem;
    border: 1px solid var(--grayLv2);
    border-radius: 1.6rem;
    padding: 2.4rem;
    position: relative;
    transform: all 0.3s;
    box-sizing: border-box;

    &.active .list__content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    ul,
    ol {
      padding-left: 1em;
      margin-top: 0.3em;
    }
    ol li {
      list-style-type: decimal;
    }
    ul li {
      list-style-type: disc;
    }
  }

  .list__title {
    @extend .fs16;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding-right: 3.6rem;

    @media screen and (max-width: 640px) {
      word-break: keep-all;
      letter-spacing: -0.05em;
    }
    .q,
    .day {
      color: var(--primaryA11y);
      font-weight: 600;
      @extend .fs24;
      &.q {
        width: 2em;
      }
      &.day {
        width: 2.5em;
      }
    }
    .tech {
      @extend .fs14;
      font-weight: 600;
      background-color: var(--activation);
      color: var(--primaryA11y);
      border-radius: 0.8rem;
      padding: 0.4em 1em;
    }
    .period {
      @extend .fs16;
      color: var(--grayLv4);
    }
  }

  &.curriculum .list__title {
    flex-wrap: wrap;
  }

  .list__content {
    @extend .fs16;
    line-height: 1.6;
    padding-top: 3rem;
    box-sizing: border-box;
    color: var(--grayLv4);
    display: none;
  }

  .btnToggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;

    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid var(--grayLv2);

    svg {
      transition: all 0.3s;
    }
    &.active {
      svg {
        rotate: -180deg;
      }
    }
  }

  .notice {
    color: var(--primaryA11y);
    &::before {
      content: '※ ';
    }
  }
}
