@import '@/styles/var.scss';

.camp-contents {
  a {
    color: var(--primaryA11y);
    text-decoration: underline;
  }

  img {
    border-radius: 1.6rem;
    margin-bottom: 5rem;
  }
  figure {
    margin: 5.2rem 0;

    img {
      margin: 0;
    }
    figcaption {
      color: var(--grayLv3);
      text-align: center;
      margin: 0.5em;
    }
  }

  .tobe {
    margin: 5.2rem 0;
    text-align: center;
  }
  hr.short {
    width: 20rem;
    border-top: 4px solid var(--activation);
    border-bottom: 0;
    margin: 5.2rem auto;
  }

  .title {
    line-height: 1.4;
    span {
      display: inline-block;
    }
  }

  .step {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
    li {
      min-height: 8rem;
      padding: 2rem;
      border: 1px solid var(--primary);
      border-radius: 1.6rem;
      box-sizing: border-box;

      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 0.2em;
      flex-wrap: wrap;

      p + * {
        margin-left: 0.5em;
      }
      strong {
        color: var(--primary);
        margin-right: 1em;
      }
    }
    li:not(:last-child)::after {
      content: '';
      display: block;
      width: 2.4rem;
      height: 1.2rem;
      background: url(/images/step_arrow.png) no-repeat 50% 50% / contain;

      position: absolute;
      bottom: -3rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .bg-ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    margin-bottom: 5.2rem;

    li {
      background-color: var(--grayLv1);
      border-radius: 1.6rem;
      min-height: 8rem;
      padding: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;

      box-sizing: border-box;

      @media screen and (max-width: 640px) {
        flex-direction: column;
      }
    }
  }
  .flex-ul {
    display: flex;
    gap: 10rem;
    margin-bottom: 5.2rem;

    li {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      word-break: keep-all;

      img {
        display: block;
        width: 16rem;
        margin: 0 auto 2.4rem;
      }
    }
    @media screen and (max-width: 640px) {
      flex-direction: column;
      gap: 2rem;
      margin: 0 auto 5.2rem;
      max-width: max-content;
      li {
        display: flex;
        align-items: center;
        gap: 1em;
        text-align: left;

        img {
          width: 10rem;
          flex-grow: 0;
          margin: 0;
        }
      }
    }
  }

  .box-ul {
    display: flex;
    gap: 4.5rem;

    li {
      @extend .fs18;
      font-weight: bold;
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;

      strong {
        @extend .fs32;

        color: var(--primary);
        border-radius: 20px;
        border: 2px solid var(--activation);
        background: var(--background, #fff);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.04);

        width: 100%;
        height: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 0.5em;
      }
    }

    @media screen and (max-width: 640px) {
      flex-direction: column;
      gap: 1em;
      li {
        strong {
          width: 50%;
          height: auto;
          padding: 1em;
          margin: 0.5em auto;
        }
      }
    }
  }

  .fc-blue {
    color: var(--primary);
    font-weight: bold;
  }
  del {
    color: var(--grayLv3);
  }

  .blockquote {
    background: var(--grayLv1) url(/images/blockquote.svg) no-repeat 50% 5rem;

    padding: 8.3rem 7.5rem 5rem;
    margin: 5.2rem 0;
    border-radius: 1.6rem;

    @media screen and (max-width: 640px) {
      background-position: 50% 4rem;
      padding: 7rem 3rem 3rem;
    }

    .title {
      margin-bottom: 2.4rem;
    }
    strong {
      font-weight: 600;
      color: var(--primaryA11y);
    }

    footer {
      text-align: center;
      margin-top: 2.4rem;
    }
  }
}
