@import '@/styles/var.scss';
@import '@/styles/function.scss';

.sub-visual {
  width: 100%;
  max-height: 60rem;
  object-fit: cover;
  aspect-ratio: 1920/600;
}

.container {
  @extend .fs18;
  margin: fcSize(40, 80) auto 0;
  width: 79rem;
  max-width: calc(100% - 4rem);

  line-height: 1.6;

  display: flex;
  flex-direction: column;
  gap: fcSize(30, 60);

  & > section > p {
    margin: 4rem 0;
  }
}

.blue-box {
  color: var(--primary);
  background-color: var(--activation);
  padding: 2.4rem;
  text-align: center;
  border-radius: 1.6rem;

  .fs24 {
    display: block;
    margin-bottom: 0.5em;
  }
}

blockquote {
  @extend .fs24;
  margin: 1em 0;
  border-left: 4px solid var(--primary);
  color: var(--primary);
  padding: 0 1.2em;
  font-weight: 600;
}

[class$='-container'] {
  a {
    transition: transform 0.3s;
    transform-origin: 50% 100%;
  }
  @media (hover: hover) {
    a:hover {
      transform: scale(1.02);
    }
  }
}
.project-container {
  @include grid(28rem);

  @media (min-width: 530px) and (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.book-container {
  @include grid(24.6rem);

  @media (min-width: 300px) and (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.link-list {
  li {
    list-style-type: disc;
    list-style-position: inside;
    color: var(--primary);
    &:not(:first-child) {
      margin: 0.2em 0;
    }
    a {
      display: inline-block;
      padding: 0.2em 0;
    }
  }
}

@media screen and (max-width: 640px) {
  [class~='info-box'] img {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
  }
}
