@import "@/styles/var.scss";
@import "@/styles/function.scss";

.container {
  width: 100%;
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.2rem;
  margin: 0 auto 5.2rem;

  color: var(--surface);
  font-weight: 600;
  font-size: fcSize(14, 16);

  .text_desc {
    color: var(--grayLv4A11y);
  }

  .text_additional {
    color: var(--grayLv3A11y);
    font-size: fcSize(13, 14);
    font-weight: 500;
  }

  h4 {
    font-size: fcSize(22, 32);
    font-weight: bold;
  }
}

a.lecture__btn {
  font-size: fcSize(13, 14);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  width: fit-content;
  height: 4.2rem;
  padding: 0 2rem;
  border-radius: 1rem;
  margin: 5.2rem auto 0;

  box-sizing: border-box;
  border: 1px solid var(--grayLv2);

  color: var(--surface) !important;
  text-decoration: none !important;

  transition: all 0.3s;
  // hover
  @media (hover: hover) {
    &:not(:disabled):hover {
      color: var(--primary);
      background-color: var(--grayLv1);
    }
  }
}

.blockquote {
  background: var(--grayLv1) url(/images/blockquote.svg) no-repeat 50% 5rem;

  padding: 8.3rem 7.5rem 5rem;
  margin: 5.2rem 0 0 0;
  border-radius: 1.6rem;

  @media screen and (max-width: 640px) {
    background-position: 50% 4rem;
    padding: 7rem 3rem 3rem;
  }

  .title {
    margin-bottom: 2.4rem;
  }
  strong {
    font-weight: 600;
    color: var(--primaryA11y);
  }

  footer {
    text-align: center;
    margin-top: 2.4rem;
  }
}

.project__section {
  text-align: center;

  margin: 5.2rem auto 0;
}

.text_desc {
  color: var(--grayLv4A11y);
}
.project__container {
  text-align: left;

  @include grid(28rem);

  @media (min-width: 530px) and (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.book__container {
  text-align: left;
  @include grid(24.6rem);
  a {
    color: var(--surface);
    text-decoration: none;
  }
  @media (min-width: 300px) and (max-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.conf__container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 5.2rem;

  li {
    height: fit-content;

    figure {
      width: 100%;
      margin: 0;

      iframe {
        width: 100%;
      }
    }
  }
}
