@use '@/styles/function.scss' as *;
@use '@/styles/theme.scss' as *;

.header {
  border-bottom: 1px solid var(--grayLv2);
  z-index: 100;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fcSize(56, 70);

    &.notfound {
      justify-content: center;
    }
  }

  h1 {
    line-height: 1;
  }
  .logo {
    width: auto;
    height: fcSize(26, 34);
  }
  .nav {
    ul {
      display: flex;
      gap: 4rem;
      align-items: center;
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.4em;
      word-break: keep-all;
    }
  }

  @media screen and (max-width: 640px) {
    .inner {
      height: 9rem;
      flex-direction: column;
      justify-content: center;
      gap: 1.6rem;
    }
    .nav ul {
      gap: 2rem;
    }
  }
}
