@import '@/styles/var.scss';

.info-box {
  @extend .fs16;
  position: relative;
  background: var(--grayLv1);
  padding: 4rem;
  border-radius: 1.6rem;

  display: flex;
  align-items: flex-start;
  gap: 4rem;
  flex-wrap: wrap;
  img {
    width: min(24rem, 30vw);
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }

  & > div {
    flex-shrink: 0;
  }

  h3,
  h4[class^='tit3'] {
    @extend .fs24;
    display: flex;
    align-items: center;
    gap: 0.5em;
    span {
      @extend .fs16;
      font-weight: normal;
      color: var(--grayLv3A11y);
    }
    & + * {
      margin-top: 2.4rem;
    }
  }
  h3 ~ h4,
  h4 ~ h5 {
    @extend .fs16;
    margin-top: 2.4rem;

    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }

  ul li,
  p {
    margin: 0.8rem 0;
    line-height: 1.6;
  }
  [class^='fc-'] {
    margin-right: 0.3em;
  }
}
