@import '@/styles/var.scss';

.camp {
  margin-top: fcSize(40, 80);
  display: flex;
  flex-direction: column;
  gap: fcSize(40, 60);

  [class^='section'] {
    margin-top: -10rem;
    padding-top: 10rem;
  }

  &__thumnail {
    width: 100%;
    height: auto;
    aspect-ratio: 790/416;
    object-fit: cover;
    border-radius: 1.2rem;
  }
  &__title {
    @extend .fs40;
    margin-top: 3.2rem;
  }
  .camp__subtitle {
    display: block;
    @extend .fs18;
  }
  &__desc {
    @extend .fs16;
    margin-top: 1em;
    color: var(--grayLv4);
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 5.2rem 2rem;
  margin-bottom: 5.2rem;

  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    img {
      margin: 0;
    }
    strong {
      @extend .fs24;
      text-align: center;
      font-weight: 600;
    }
  }
}
